
.nav{
    margin: 40px 0px 40px 100px;
    border-radius: 10px;
    grid-area: n;
    
    background-color: #555555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.nav__item{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(167, 167, 167);
    color: #f0f0f0;
}
.nav__item:hover{
    background-color: #333333;
    color: rgb(221, 233, 233);
}
.nav__item a{
    text-decoration: none;
    color: white;
}
.nav__item a:hover{
background-color: #333333;
color: rgb(221, 233, 233);
}
.nav__item a.active{
    color: rgb(159, 136, 6) ;
}