.app-wrapper{
    background-color: #818181;
    display: grid;
    width: auto;
    height: auto;
    grid-template-areas: 
    " h h"
    "n  c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 350px 10fr;

}

.content{
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 90%;
    margin: 40px 60px 10px 60px;
    grid-area: c;
    background-color: #555555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


